body {
    background-color: rgb(230, 239, 233);
    height:55mm;
    width: 85mm;
    margin: 50px;
    border-color: rgb(194, 234, 186);
    border-width: 1mm;
    border-style: dashed;
    font-family: Candara, fantasy;
}


h1 {
    color: rgb(80, 86, 77);
    margin: 5mm;
}

section {
    color: rgb(100, 110, 94);
    text-align:justify;
    margin: 5mm;
}

aside {
    float: right;
    margin: 5mm;
    border-bottom: 40px; */
}

aside > section {
    margin: 1mm
}